<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/margincss">

  <div class="col-8 offset-2">
      <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading"><%=err.message%>!</h4>
          <% if(process.env.NODE_ENV !== "production"){ %> 
          <p><%= err.stack %></p>
          <% } %> 
          <hr>
      </div>
  </div>
