<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/home.css">


    <!-- <body class="d-flex flex-column h-100"> -->
        <main class="flex-shrink-0">
            <!-- Navigation-->

            <!-- Header-->
            <header class="bg-white py-5 m-md-5 rounded">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-dark-50 mb-2">Summer Breeze</h1>
                                <p class="fw-normal text-muted">@Summerbreeze.bracelets</p>
                                <p class="lead fw-normal text-muted mb-4">A small shop working around the clock to provide you with a beautiful, handmade, locally produced way to look beautiful.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#categories">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://res.cloudinary.com/dhfzvrfor/image/upload/v1637076195/SummerBreeze/beach_ijkxtp.jpg" alt="..." /></div>
                    </div>
                </div>
            </header> 
            <!-- Features section-->
            <section class="py-5 text-dark" id="features">
                <div class="container px-5 bg-white my-4 py-5 rounded">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A fun way to look beautiful.</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">Handmade</h2>
                                    <p class="mb-0">Each product is carefully handmade in order to give you a custom experience</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">Great Quality</h2>
                                    <p class="mb-0">We try to find great deals in order to bring you a premium quality product at a fraction of the cost</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Locally Made</h2>
                                    <p class="mb-0">Made by hand in Thailand in order to share the feeling of being in a tropical paradise.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Custom Packaging</h2>
                                    <p class="mb-0">The stylish packaging makes a great gift for anyone special in your life.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 m-md-4 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"My daughter and her friends loved all the things they ordered. Thank you for the free stickers like always. Looking forward to ordering again"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold">
                                        M.
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Customer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="pt-md-1 bg-white m-md-5 rounded" id="categories">
                <div class="container bg-white px-5 p-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">View Our Products</h2>
                                <p class="lead fw-normal text-muted mb-5">We are selling many different types of products. If you have any questions please feel free to contact us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://res.cloudinary.com/dhfzvrfor/image/upload/v1627583820/SummerBreeze/vy2zgfkhdgxola3dusns.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="/products/bracelets"><h5 class="card-title mb-3">Bracelets</h5></a>
                                    <p class="card-text mb-0">The original start to our products and a great way to have beauty wrapped around your wrist.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://res.cloudinary.com/dhfzvrfor/image/upload/v1637076908/SummerBreeze/necklace-butterfly_wgrosx.jpg" alt="Necklace Photo" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="/products/necklaces"><h5 class="card-title mb-3">Necklaces</h5></a>
                                    <p class="card-text mb-0">A gorgeous collection of simple, beautiful pieces of jewelry that can comfortably fit around your neck.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://res.cloudinary.com/dhfzvrfor/image/upload/v1637076758/SummerBreeze/anklet-collection_olgr4o.jpg" alt="Anklet Photo" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="/products/anklets"><h5 class="card-title mb-3">Anklet</h5></a>
                                    <p class="card-text mb-0">Walk around with fashion on your feet in a whole new way.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://res.cloudinary.com/dhfzvrfor/image/upload/v1637077014/SummerBreeze/earring-butterfly_nhocdr.jpg" alt="Earring Photo" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="/products/earrings"><h5 class="card-title mb-3">Earrings</h5></a>
                                    <p class="card-text mb-0">Earrings that are guranteed to look great no matter the occasion.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://res.cloudinary.com/dhfzvrfor/image/upload/v1637077052/SummerBreeze/shirt-collection2_hhbjka.jpg" alt="Shirt Collection" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="/products/shirts"><h5 class="card-title mb-3">Shirts</h5></a>
                                    <p class="card-text mb-0">A collection of beautiful shirts tie-dyed shirts that you can wear at almost any time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
