html {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background: url("https://res.cloudinary.com/dhfzvrfor/image/upload/v1637039342/SummerBreeze/beachPath_hkhuam.jpg")
    no-repeat;
  background-size: cover;
  min-height: 100vh;
}
