<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/main.css" />
<!-- <link rel="stylesheet" href="/stylesheets/home.css"> -->


		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="https://res.cloudinary.com/dhfzvrfor/image/upload/v1636301053/SummerBreeze/Nan_zcbzmq.jpg" alt="" /></a>
					<h1><strong>I am Nan</strong>, I like making bracelets<br />
					and anything and everything DIY<br />
					You can see message me at <br /><a href="https://www.instagram.com/summerbreeze.bracelets/">Summer Breeze</a>.</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Created in Thailand from one person's desire to be reminded of the beach.</h2>
						</header>
						<p>I have always loved the beach and had found myself always aching to go back. Being unable to and trying to pass the time I wanted to create something. I found myself gravitating towards bracelets and before I knew it I was spending all my time making bracelets and having grand plans about expanding my product selection to try to share the joy I find in these products. However, being a small shop I am able to do this while still focusing on making each purchase a personal, beautiful experience.</p>
						<ul class="actions">
							<li><a href="/products" class="button">See Products</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>About the Company</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<img class="image fit thumb" src="https://res.cloudinary.com/dhfzvrfor/image/upload/c_scale,h_200,w_300/v1636394948/SummerBreeze/thailandBeach_xnn4cs.jpg" alt="" /></a>
								<h3>Made in Thailand</h3>
								<p>All of the products are made in Thailand at my home.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<img class="image fit thumb" src="https://res.cloudinary.com/dhfzvrfor/image/upload/c_scale,h_200,w_300/v1636397281/SummerBreeze/2020photo_btcwuw.jpg" alt="" /></a>
								<h3>Born in 2020</h3>
								<p>I started making the products in 2020 and have continued to add new products.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<img class="image fit thumb" src="https://res.cloudinary.com/dhfzvrfor/image/upload/c_scale,h_200,q_100,w_300/v1636398112/SummerBreeze/handMadeString_jsspgd.jpg" alt="" /></a>
								<h3>Handmade</h3>
								<p>I try to make everything handmade as much as possible!
								</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<img class="image fit thumb" src="https://res.cloudinary.com/dhfzvrfor/image/upload/c_scale,h_200,q_100,w_300/v1636398525/SummerBreeze/coffeeBegin_rux35g.jpg" alt="" /></a>
								<h3>Always Expanding</h3>
								<p>If you have anything you would like me to make please let me know!
								</p>
							</article>
						</div>
					</section>
			</div>
